<!-- Blog HTML -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

                {% for postp in site.posts %}
                
                <!-- Blog Post -->
                <h2>
                    <a href="{{ postp.url }}">{{post.title}}</a>
                </h2>
                
                <p class="lead">by {{ postp.author }}</p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ postp.date }} </p>
                <hr>
                
                {{ postp.excerpt }}
                <a class="btn btn-primary" href="{{ postp.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>
                {% endfor %}

            </div>
        </div>
    </div>
</section>