<!-- Service Start -->
<section id="service">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Our Services</h2>
                <p>We offer courses and workshops related to information technology and business architecture. We can perform architecture review and project assessment. We can generate business intelligence reports.</p>
            </div>
        </div>
        <div class="row ">
            {% for service in site.data.services %}
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <i class="{{ service.icon }}"></i>
                        <h4>{{ service.title }}</h4>
                        <p>{{ service.content }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>