<!-- Content Start -->
<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>Facts About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <ul class="counter-box clearfix">
                        <li>
                            <div class="block">
                                <i class="ion-ios-star-outline"></i>
                                <h4 class="counter">3</h4>
                                <span>Programmers obtained certificate</span>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <i class="ion-ios-cloud-outline"></i>
                                <h4 class="counter">1</h4>
                                <span>Web site strategy</span>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <i class="ion-ios-compose-outline"></i>
                                <h4 class="counter">10</h4>
                                <span>Workshops</span>
                            </div>
                        </li>
                        <li>
                            <div class="block">
                                <i class="ion-ios-heart-outline"></i>
                                <h4 class="counter">100</h4>
                                <span>Happy students</span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>